/anies.png
/ganjar-pranowo.png
/prabowo.png
df_anies_detik-070224.csv
df_anies_kompas-070224.csv
df_anies_liputan-070224.csv
df_ganjar_detik-070224.csv
df_ganjar_kompas-070224.csv
df_ganjar_liputan-070224.csv
df_prabowo_detik-070224.csv
df_prabowo_kompas-070224.csv
df_prabowo_liputan-070224.csv
